
.question__image {
    width: 100%;
    position: relative;
    height: 270px;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}

.question__image-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}